/*Reset de Estilos */
ul {
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
/*Utilizando seletor de atributo para não afetar os svg do site*/
img [src$=".jpg"]{
  border-radius: 4px;
}
/*-------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
blockquote {
  margin: 0px;
}
